<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.dao.extend.PrivilegeExtendMapper">
  <select id="selectAll" resultMap="PrivilegeTreeResultMap">
    SELECT *
    FROM base_privilege
    WHERE parent_id is null
  </select>

  <select id="selectByParentId" resultType="com.briup.bean.Privilege">
    SELECT *
    FROM base_privilege
    WHERE parent_id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByRoleId" resultType="com.briup.bean.Privilege">
    SELECT p.*
    from base_privilege p, base_role r, base_role_privilege rp
    WHERE rp.role_id = r.id
    AND rp.privilege_id = p.id
    AND r.id = #{id,jdbcType=BIGINT}
  </select>

  <resultMap id="PrivilegeTreeResultMap" type="com.briup.vm.PrivilegeTree" extends="com.briup.dao.PrivilegeMapper.BaseResultMap">
    <collection property="children" column="id" select="selectByParentId"></collection>
  </resultMap>

</mapper>